body {
    background: #0f172a;
    color: white;
    font-family: Arial;
}

.card {
    background: #1e293b;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
}
input, button {
    display:block;
    margin:10px 0;
    width:100%;
}
#msg {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#msg.success {
    background: green;
}

#msg.error {
    background: red;
}